<div class="container-fluid">
    <div class="jumbotron" style="width:95%;margin:auto;margin-top:2rem">

        <h1>Parent's Area</h1>
        <p>Name: <%= user.fullName %></p>
        <p>Email: <%= user.email %></p>
    </div>
</div>