<div>
    <h3 class="container text-center" style="margin-top:1rem">Parent's Account</h3>
    <div class="col" style="margin-top:2rem">
        <h4 class="container text-center">New to IICS? Register Please</h4>
        <form name="form-sign-up" method="POST" action="/parent/new" style="margin-top:2rem">
            <div class="text-center">
                <label for="inputNewParentEmail" style="width:5rem;text-align:right;">Email: </label>
                <% if((typeof registerEmail === 'undefined') || (registerEmail === null)){ %>
                    <input id="inputNewParentEmail" type="email" name="newParentEmail" placeholder="Email address..." style="width:65%;">
                <% } else { %>
                    <input id="inputNewParentEmail" type="email" name="newParentEmail"  style="width:65%;" value=<%= registerEmail; %>>
                <% }; %>
            </div>
            <div class="text-center" style="margin-top:1rem">
                <input type="submit" value="Sign Up" style="width:35%" class="btn btn-md btn-info">
            </div>
        </form>  
        
        <hr style="width:95%;text-align:center;border-width:2px;border-color:#234234;margin-top:2rem">

        <h4 class="container text-center" style="margin-top:2rem">Already have an account? Log In</h4>
        <form name="form-login" method="POST" action="/parent/login" style="margin-top:2rem">
            <div class="text-center">
                <label for="inputLogInEmail" style="width:5rem;text-align:right;">Email: </label>
                <% if((typeof loginEmail === 'undefined') || (loginEmail === null) ){ %>
                    <input id="inputLogInEmail" type="email" name="email" placeholder="Email address..." style="width:65%;">
                <% } else { %>
                    <input id="inputLogInEmail" type="email" name="email" style="width:65%;" value=<%= loginEmail; %>>
                <% }; %>
            </div>
            <div class="text-center" style="margin-top:1rem">
                <label for="inputPassword" style="width:5rem;text-align:right;">Password: </label>
                <input id="inputPassword" type="password" name="password" placeholder="Alphanumeric. Length is 8 to 20" style="width:65%;">
            </div>
            <div class="text-center" style="margin-top:1rem">
                <input type="submit" value="Log In" style="width:35%" class="btn btn-md btn-info">
            </div>
        </form>  

    </div>
</div>
