<nav class="navbar navbar-expand-md navbar-light bg-light" > 
    <a class="navbar-brand" href="/">
        <img src="/images/Logo.png" width="200" alt="Home">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"
            aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mr-auto">
            <% if (loggedIn) {%>
                <li class="nav-item dropdown">
                    <a class="nav-item nav-link dropdown-toggle mr-md-2 text-success" href="#" id="syllabus-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Materials
                    </a>
                    <div class="dropdown-menu dropdown-menu-md-right" aria-labelledby="syllabus-menu">
                        <a class="dropdown-item" href="#">Syllabus</a>
                        <a class="dropdown-item" href="#">Lectures</a>
                        <a class="dropdown-item" href="#">Assignments</a>
                    </div>    
                </li>    
            <% } %>
            <li class="nav-item">
                <a class="nav-link" href='/class'>Description</a>
            </li>
            <li class="nav-item">
                <a  class="nav-link" href='/about'>About</a>
            </li>
        </ul>
        <ul class="navbar-nav">
        <% if (loggedIn) {%>
            <li class="nav-item dropdown">
                <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="user-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= currentUser.fullName %>
                </a>
                <div class="dropdown-menu dropdown-menu-md-right" aria-labelledby="user-menu">
                    <a class="dropdown-item" href="/student/show">View</a>
                    <a class="dropdown-item" href="/student/edit-info">Edit Info</a>
                    <a class="dropdown-item" href="/student/edit-password">Edit Password</a>                    
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/student/logout">Logout</a>
                </div>
            </li>
        <% } else { %>
            <li class="nav-item">
                <a class="nav-link" href='/student/signup'>Sign In</a>
            </li>
        <% }%>

            <li class="nav-item">
                <a class="nav-link" href='/student/signup'>
                </a>
            </li>
        </ul>
    </div>
</nav>
