<div>    
    <nav class="navbar navbar-expand-sm navbar-light bg-light"  style="height:120px"> 
        <a class="navbar-brand" href="/">
            <img src="/images/Logo.png" width="200" alt="Home">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href='/class'>The Class</a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link" href='/about'>About </a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="btn btn-light nav-link" href='/parent/signup'> Parent Account </a>
                </li>
            </ul>
        </div>
    </nav>
</div>