<div class="container-fluid">
    <div class="jumbotron" style="width:95%;margin:auto;text-align:center">
        <h1>A 404 error occurred</h1>
        <h3>Page not found</h3>
        <h5>The requested URL could not be matched by routing</h5>
    </div>
</div>