<div class="container-fluid">
    <div class="jumbotron" style="width:95%;margin:auto;text-align:center">
        <h1>A 500 error occurred</h1>
        <h3>Internal Server Error</h3>
        <h5>Sorry, our application is experiencing a problem!</h5>
    </div>
</div>