<div class="container-fluid">
    <div class="jumbotron" style="width:95%;margin:auto">

        <h3>How do I educate my kids about computing?</h3>

        <p class="">
            I designed a series of Computing courses for my daughters starting in 2010 when the first one was 8 years old.  
            In 2020, when I am launching IICS the older one is in college and younger one is in 8th grade.  
        </p>

        <p class=""> 
            IICS benefits from what I have learned along the way, and I hope it will benefit other kids and families, 
            and dispel the many misconceptions about computing.
        </p>

        <p class="">
            I firmly believe that some level of Computing should be necessary to graduate, be a part of the core curriculum
            on equal footing with literature, arts, languages, math and science.            
        </p>

        <div class="row" style="margin-top:2rem">
            <div class="col-md">
                <p>
                    <span class="" style="color:red">
                        Leadership at most Schools does not understand Computing.
                    </span>
                    The vast majority of educators leading the organizations have never 
                    studied a college level Computing course.
                </p>
            </div>
            <div class="col-md">
                <p>
                    <span class="" style="color:red">Most schools are understaffed in Computing. </span>
                    Typically there is a token teacher (at most two) who teach "technology" – 
                    how to build websites, some computer games and write basic programs
                </p>
            </div>
            <div class="col-md">
                <p>
                    <span class="" style="color:red">Computer Science is still optional! </span>
                    One can graduate without learning any Computing!
                </p>
            </div>
        </div>
    </div>


    <div class="" style="width:95%;margin-left:auto;margin-right:auto;margin-top:3rem;">
        <div>
            <div class="row">
                <div class="col-md">
                    <div class ="card">
                        <div class="card-body"> 
                            <h5 class="card-title text-primary">Is it cool to learn Computing? </h5> 
                            <p class="text-body">
                                <span> To some extent Yes - it is in style to "code". 
                                    To a larger extent No – it gets math heavy and real programming sucks away time from friends.
                                </span>
                            </p>
                            <p class="text-body">
                                <span> The challenge is to discover the real passions of our kids inspite of the schools.
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class ="card">
                        <div class="card-body"> 
                            <h5 class="card-title text-primary">Is Coding same as Computing? </h5> 
                            <p class="text-body">
                                <span> No! Computing includes AI & ML (recommendation engines), Graphics (animations), 
                                    Video & Audio (streaming), Medical Imaging, Games and a lot more.
                                </span>
                            </p>
                            <p class="text-body">
                                <span> Our challege is to expose kids to the big ideas and think about interesting real-life problems. 
                                </span>
                            </p>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>
