<div class="container-fluid">
    <div class="jumbotron" style="width:95%;margin:auto">

        <h1>How do I educate my kids about computing?</h1>

        <p class="lead">
            I designed a series of mini Computing courses for my daughters starting when the first one was 8 years old.  
            In 2020, when I am launching IICS the older one is in college and younger one is in 8th grade.  
        </p>

        <p class="lead"> 
            This 
            course benefits from what I learned along the way, and I hope it will benefit other kids and families, 
            and dispel the many misconceptions about computing.
        </p>

        <p class="lead">
            I firmly believe that some level of Computing should be necessary to graduate, 
            taught much earlier in schools, and be represented in the core curriculum just as 
            literature, science, languages, math and science are.            
        </p>

        <div class="row" style="margin-top:2rem">
            <div class="col-md">
                <p>
                    <span class="font-weight-bold, text-success">
                        Leadership at most Schools does not understand Computing.
                    </span>
                    The vast majority of educators leadig theorganizations have never 
                    studied a college level Computing course.
                </p>
            </div>
            <div class="col-md">
                <p>
                    <span class="font-weight-bold, text-success">Most schools are woefully understaffed in Computing. </span>
                    Typically there is a token teacher (at most two) who teach "technology" – 
                    how to build websites, basic computer games and write basic programs
                </p>
            </div>
            <div class="col-md">
                <p>
                    <span class="font-weight-bold, text-success">Computer Science is still optional! </span>
                    One can graduate without learning any Computing!
                </p>
            </div>
        </div>
    </div>


    <div class="" style="width:95%;margin-left:auto;margin-right:auto;margin-top:3rem;">
        <div>
            <div class="row">
                <div class="col-md">
                    <div class ="card">
                        <div class="card-body"> 
                            <h5 class="card-title text-primary">Is it cool to learn Computing? </h5> 
                            <p class="text-body">
                                <span> To some extent Yes - it is in style to "code" and make simple websites. 
                                    To a larger extent No – it gets math heavy and real programming sucks away time from friends.
                                </span>
                            </p>
                            <p class="text-body">
                                <span> The challenge is to discover and nurture the real passions of our kids inspite of the schools.
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class ="card">
                        <div class="card-body"> 
                            <h5 class="card-title text-primary">Is Coding same as Computing? </h5> 
                            <p class="text-body">
                                <span> No! Computing includes AI & ML (recommendation engines), Graphics (animations), 
                                    Video & Audio (streaming), Medical Imaging, Games and a lot more.
                                </span>
                            </p>
                            <p class="text-body">
                                <span> Our challege is to expose kids ot big ideas and think about real-life and interesting problems. 
                                </span>
                            </p>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</div>
