
<div class="container-fluid">
    <div class="jumbotron" style="width:95%;margin:auto">

        <h1>A College-Level Introduction to Computing Using Java.</h1>

        <p class="lead"> 
            A first-year University-level introduction to beginning computing - 
            programming, algorithms, top-down design, types, data structures, and time complexity.
        </p>

        <div class="row">
            <div class="col-md-auto">
                <p>
                    <span class="font-weight-bold, text-success">Timing: </span>
                    Saturdays, 10:00 AM - 12 Noon
                </p>
            </div>
            <div class="col-md-auto">
                <p>
                    <span class="font-weight-bold, text-success">Prerequisite: </span>
                    1 year of experience with python, Java, or a similar language
                </p>
            </div>
            <div class="col-md-auto">
                <p>
                    <span class="font-weight-bold, text-success">Cost: </span>
                    $800/student
                </p>
            </div>
        </div>
    </div>


    <div class="" style="width:95%;margin-left:auto;margin-right:auto;margin-top:3rem;">
        <h2>Outcomes</h2> 
        <div class="justify-content-around">
            <div class="row">
                <div class="col-md">
                    <div class ="card">
                        <div class="card-body"> 
                            Be able to design, code, and test small programs that meet the requirements expressed in English – includes a basic understanding of top-down design. 
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class ="card">
                        <div class="card-body"> 
                            Students will get the background needed for the AP Computer Science A exam, and test to place out of the first programming course at College.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class ="card">
                        <div class="card-body"> 
                            Students will learns of basics of top-down design and implement an alien invader arcade-style game.
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class ="card">
                        <div class="card-body"> 
                            Be able to use invariants, pre-conditions, and post-conditions in developing algorithms. 
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class ="card">
                        <div class="card-body"> 
                            Be fluent with procedural statements including strings, loops, exceptions, recursion, basic types and data structures (e.g array, ArrayList, Set and Map).
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class ="card">
                        <div class="card-body"> 
                            Understand object-oriented concepts as used in Java – classes, subclasses, inheritance, and overriding – and the program execution model in Java.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class ="card">
                        <div class="card-body"> 
                            Understand the basics of time complexity (how long does a program take to run?) for simple algorithms.
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class ="card">
                        <div class="card-body"> 
                            Understand the basic implementation of searching, sorting, graph algorithms, and vector computation. 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">&nbsp</div>
        <div class="row">
            <div class="col-md">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Technical Requirements</h5> 
                        <p>
                            <span class="text-body">Computer with Eclipse 2020-06 and Java 14 installed and a strong wifi connection. 
                                A larger screen is an added bonus! <br>
                            </span> 
                            <span class="font-italic"> <br>Software installation instructions will be provided</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Taught by <span class="text-primary">Jawahar Chirimar</span></h5> 
                        <p>
                            <span class="font-weight-bold text-muted">
                                Cornell University: B. Sc. Computer Science, B. A. Mathematics
                            </span>
                        </p>
                        <p>
                            <span class="font-weight-bold text-muted">
                                University of Pennsylvania: Ph.D. Computer Science
                            </span>
                        </p>
                        <a class="btn btn-info" href="https://www.linkedin.com/in/jawaharxchirimar/" role="button"> 
                            LinkedIn
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Dates</h5> 
                        <p>
                            9/12, 9/19, 9/26, 10/3, 10/10, 10/17, 10/24, 11/7, 11/14, and 11/21.
                        </p>
                        <p>
                            Your instructor should be notified of any absences. 
                            As the course is fast paced, absences are highly discouraged.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
