<div class="container-fluid">
    <div class="jumbotron" style="width:95%;margin:auto">
        <h2 class="text-center">
            College-Level Introduction to Computing
        </h2>
        <p class="text-center">
            IICS's flagship course in computing is being offered online this semester with limited seats. 
            Enroll for a university-level introduction to computational science that goes beyond hello world.
        </p>
        <div class="text-center" style="margin-top:3rem">
            <div class="row">
                <div class="col text-right">
                    <a class="btn btn-lg btn-success" href='/class' role=button style="width:10rem">
                        Learn More
                    </a>
                </div>
                <div class="col text-left">
                    <a class="btn btn-lg btn-success" href='/parent-account' role=button style="width:10rem">
                        Parent Account
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>