<div  style="margin:auto;margin-top:2rem;width:80%;">
    <h2>Table of all registered parents</h2>
    <table class="table" style="margin-top:2rem;">
        <thead style="text-align:left;">
            <tr>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <% parentList.forEach(currentParent => { %>
            <tr>
                <td><%= currentParent.fullName%></td>
                <td><%= currentParent.email %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>