<div class="jumbotron text-center" style="width:95%;margin:auto;margin-top:1rem"> 
    <% if(!loggedIn) { %>
        <h3>Account Info</h3>
        <p>No student is currently logged in.</p>
    <% } else { %>
        <div  class="container text-center">
            <h3><%= currentUser.fullName; %>'s details</h3>
            <% if (currentUser.enrolled) {%>
                <h6>Enrolled in: A College-Level Introduction to Computing Using Java.</h6>
            <% } else {%>
                <h6>NOT Enrolled in: A College-Level Introduction to Computing Using Java.</h6>
            <% } %>
            <h6><%= currentUser.email; %></h6>
        </div>

        <div class="col" style="margin-top:1.1rem">
<!--
            <div class="row text-center" style="margin-top:1.1rem">
                <label style="width:4%;"></label>
                <label style="width:35%;text-align:right;">Email:</label>
                <label style="width:2%;"></label>
                <label style="width:55%;text-align:left;"><%= currentUser.email; %></label>
            </div>
-->                        
            
            <% if (currentUser.enrolled) {%>
                <p>Scores for assignments, quizzes etc.</p>
            <% }%>
        </div>
    <% } %>
    </div>
</div>
